<?xml version="1.0" encoding="utf-8"?>
<TemplateExport xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <JoysticksUsed>
    <TemplateDevice>
      <id>1000</id>
      <name>Bravo Throttle Quadrant</name>
      <guid>70ae3140-365b-11eb-8001-444553540000</guid>
    </TemplateDevice>
  </JoysticksUsed>
  <template>
    <aircraftId>CRJ</aircraftId>
    <airFileId>CRJ</airFileId>
    <buttons>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_TQ_TOGA_press</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_TQ_TOGA_release</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>29</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_TQ_TOGA_release</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_TQ_CUTOFF_2</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_TQ_IDLE_2</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>26</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_TQ_IDLE_2</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_TQ_CUTOFF_1</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_TQ_IDLE_1</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>25</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_TQ_IDLE_1</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_TQ_REVERSE_1_deploy</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_TQ_REVERSE_1_cut</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>0</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>9</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_TQ_REVERSE_1_cut</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_TQ_REVERSE_2_deploy</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_TQ_REVERSE_2_cut</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>0</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>10</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_TQ_REVERSE_2_cut</Action>
      </GlobalHotkey>
    </buttons>
    <axis />
    <overrideSaitekEvents />
    <autoScripts />
    <virtualGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</virtualGaugesTemplateGuid>
    <desktopGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</desktopGaugesTemplateGuid>
    <webGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</webGaugesTemplateGuid>
  </template>
  <scripts>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_TQ_TOGA_press</label>
      <script>1 (&gt;L:ASCRJ_TQ_TOGA_1_ANIM, Number) 1 (&gt;L:ASCRJ_TQ_TOGA_1, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_TQ_TOGA_release</label>
      <script>0 (&gt;L:ASCRJ_TQ_TOGA_1_ANIM, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_TQ_IDLE_1</label>
      <script>1 (&gt;L:ASCRJ_TQ_CUTOFF_1, Number) (SLEEP:500) 400 (&gt;L:ASCRJ_TQ_THROTTLE_1_POS, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_TQ_IDLE_2</label>
      <script>1 (&gt;L:ASCRJ_TQ_CUTOFF_2, Number) (SLEEP:500) 400 (&gt;L:ASCRJ_TQ_THROTTLE_2_POS, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_TQ_CUTOFF_1</label>
      <script>1 (&gt;L:ASCRJ_TQ_CUTOFF_1, Number) (SLEEP:500) 500 (&gt;L:ASCRJ_TQ_THROTTLE_1_POS, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_TQ_CUTOFF_2</label>
      <script>1 (&gt;L:ASCRJ_TQ_CUTOFF_2, Number) (SLEEP:500) 500 (&gt;L:ASCRJ_TQ_THROTTLE_2_POS, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_TQ_REVERSE_1_deploy</label>
      <script>(L:ASCRJ_TQ_THROTTLE_1_POS, Number) 400 == if{ 1 (&gt;K:THROTTLE1_DECR) }</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_TQ_REVERSE_1_cut</label>
      <script>0 (&gt;L:ASCRJ_TQ_REVERSE_1_ANIM, Number) 1 (&gt;K:THROTTLE1_CUT)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_TQ_REVERSE_2_deploy</label>
      <script>(L:ASCRJ_TQ_THROTTLE_2_POS, Number) 400 == if{ 1 (&gt;K:THROTTLE2_DECR) }</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_TQ_REVERSE_2_cut</label>
      <script>0 (&gt;L:ASCRJ_TQ_REVERSE_2_ANIM, number) 1 (&gt;K:THROTTLE2_CUT)</script>
    </Script>
  </scripts>
</TemplateExport>