<?xml version="1.0" encoding="utf-8"?>
<TemplateExport xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <JoysticksUsed>
    <TemplateDevice>
      <id>1000</id>
      <name>Bravo Throttle Quadrant</name>
      <guid>70ae3140-365b-11eb-8001-444553540000</guid>
    </TemplateDevice>
  </JoysticksUsed>
  <template>
    <aircraftId>ASCRJ_FCP_HCBRAVO</aircraftId>
    <airFileId>ASCRJ_FCP_HCBRAVO</airFileId>
    <buttons>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_VS_up</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>13</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <combinedKey>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
          <joystickName>Bravo Throttle Quadrant</joystickName>
          <joystickButton>19</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>-1</midiDeviceId>
          <midiChannel>-1</midiChannel>
          <midiEvent>-1</midiEvent>
          <endless>false</endless>
          <midiEncoder>NONE</midiEncoder>
          <isSimKey>false</isSimKey>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>false</comboIsToggle>
          <longClick>false</longClick>
          <longClickTimeoutMs>0</longClickTimeoutMs>
          <fastTurn>false</fastTurn>
          <timeoutMs>0</timeoutMs>
          <assignedKeys />
          <vkModifiers />
          <vkKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_FCP_VS_up</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_VS_dn</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>12</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <combinedKey>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
          <joystickName>Bravo Throttle Quadrant</joystickName>
          <joystickButton>19</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>-1</midiDeviceId>
          <midiChannel>-1</midiChannel>
          <midiEvent>-1</midiEvent>
          <endless>false</endless>
          <midiEncoder>NONE</midiEncoder>
          <isSimKey>false</isSimKey>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>false</comboIsToggle>
          <longClick>false</longClick>
          <longClickTimeoutMs>0</longClickTimeoutMs>
          <fastTurn>false</fastTurn>
          <timeoutMs>0</timeoutMs>
          <assignedKeys />
          <vkModifiers />
          <vkKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_FCP_VS_dn</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_CRS1_dec</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>13</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <combinedKey>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
          <joystickName>Bravo Throttle Quadrant</joystickName>
          <joystickButton>17</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>-1</midiDeviceId>
          <midiChannel>-1</midiChannel>
          <midiEvent>-1</midiEvent>
          <endless>false</endless>
          <midiEncoder>NONE</midiEncoder>
          <isSimKey>false</isSimKey>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>false</comboIsToggle>
          <longClick>false</longClick>
          <longClickTimeoutMs>0</longClickTimeoutMs>
          <fastTurn>false</fastTurn>
          <timeoutMs>0</timeoutMs>
          <assignedKeys />
          <vkModifiers />
          <vkKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_FCP_CRS1_dec</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_ALT_inc</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>12</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <combinedKey>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
          <joystickName>Bravo Throttle Quadrant</joystickName>
          <joystickButton>20</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>-1</midiDeviceId>
          <midiChannel>-1</midiChannel>
          <midiEvent>-1</midiEvent>
          <endless>false</endless>
          <midiEncoder>NONE</midiEncoder>
          <isSimKey>false</isSimKey>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>false</comboIsToggle>
          <longClick>false</longClick>
          <longClickTimeoutMs>0</longClickTimeoutMs>
          <fastTurn>false</fastTurn>
          <timeoutMs>0</timeoutMs>
          <assignedKeys />
          <vkModifiers />
          <vkKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_FCP_ALT_inc</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_SPEED_dec</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>13</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <combinedKey>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
          <joystickName>Bravo Throttle Quadrant</joystickName>
          <joystickButton>16</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>-1</midiDeviceId>
          <midiChannel>-1</midiChannel>
          <midiEvent>-1</midiEvent>
          <endless>false</endless>
          <midiEncoder>NONE</midiEncoder>
          <isSimKey>false</isSimKey>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>false</comboIsToggle>
          <longClick>false</longClick>
          <longClickTimeoutMs>0</longClickTimeoutMs>
          <fastTurn>false</fastTurn>
          <timeoutMs>0</timeoutMs>
          <assignedKeys />
          <vkModifiers />
          <vkKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_FCP_SPEED_dec</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_SPEED_inc</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>12</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <combinedKey>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
          <joystickName>Bravo Throttle Quadrant</joystickName>
          <joystickButton>16</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>-1</midiDeviceId>
          <midiChannel>-1</midiChannel>
          <midiEvent>-1</midiEvent>
          <endless>false</endless>
          <midiEncoder>NONE</midiEncoder>
          <isSimKey>false</isSimKey>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>false</comboIsToggle>
          <longClick>false</longClick>
          <longClickTimeoutMs>0</longClickTimeoutMs>
          <fastTurn>false</fastTurn>
          <timeoutMs>0</timeoutMs>
          <assignedKeys />
          <vkModifiers />
          <vkKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_FCP_SPEED_inc</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_HDG_dec</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>13</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <combinedKey>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
          <joystickName>Bravo Throttle Quadrant</joystickName>
          <joystickButton>18</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>-1</midiDeviceId>
          <midiChannel>-1</midiChannel>
          <midiEvent>-1</midiEvent>
          <endless>false</endless>
          <midiEncoder>NONE</midiEncoder>
          <isSimKey>false</isSimKey>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>false</comboIsToggle>
          <longClick>false</longClick>
          <longClickTimeoutMs>0</longClickTimeoutMs>
          <fastTurn>false</fastTurn>
          <timeoutMs>0</timeoutMs>
          <assignedKeys />
          <vkModifiers />
          <vkKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_FCP_HDG_dec</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_HDG_inc</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>12</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <combinedKey>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
          <joystickName>Bravo Throttle Quadrant</joystickName>
          <joystickButton>18</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>-1</midiDeviceId>
          <midiChannel>-1</midiChannel>
          <midiEvent>-1</midiEvent>
          <endless>false</endless>
          <midiEncoder>NONE</midiEncoder>
          <isSimKey>false</isSimKey>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>false</comboIsToggle>
          <longClick>false</longClick>
          <longClickTimeoutMs>0</longClickTimeoutMs>
          <fastTurn>false</fastTurn>
          <timeoutMs>0</timeoutMs>
          <assignedKeys />
          <vkModifiers />
          <vkKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_FCP_HDG_inc</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_ALT_dec</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>13</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <combinedKey>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
          <joystickName>Bravo Throttle Quadrant</joystickName>
          <joystickButton>20</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>-1</midiDeviceId>
          <midiChannel>-1</midiChannel>
          <midiEvent>-1</midiEvent>
          <endless>false</endless>
          <midiEncoder>NONE</midiEncoder>
          <isSimKey>false</isSimKey>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>false</comboIsToggle>
          <longClick>false</longClick>
          <longClickTimeoutMs>0</longClickTimeoutMs>
          <fastTurn>false</fastTurn>
          <timeoutMs>0</timeoutMs>
          <assignedKeys />
          <vkModifiers />
          <vkKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_FCP_ALT_dec</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_CRS1_inc</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>12</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <combinedKey>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
          <joystickName>Bravo Throttle Quadrant</joystickName>
          <joystickButton>17</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>-1</midiDeviceId>
          <midiChannel>-1</midiChannel>
          <midiEvent>-1</midiEvent>
          <endless>false</endless>
          <midiEncoder>NONE</midiEncoder>
          <isSimKey>false</isSimKey>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>false</comboIsToggle>
          <longClick>false</longClick>
          <longClickTimeoutMs>0</longClickTimeoutMs>
          <fastTurn>false</fastTurn>
          <timeoutMs>0</timeoutMs>
          <assignedKeys />
          <vkModifiers />
          <vkKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_FCP_CRS1_inc</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_HDG_SYNC</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_HDG</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>0</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>true</longClick>
        <longClickTimeoutMs>400</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_FCP_HDG_SYNC</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_12BANK</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_NAV</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>1</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>true</longClick>
        <longClickTimeoutMs>400</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_FCP_NAV</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_APPR_push</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_APPR_release</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>2</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>400</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_FCP_APPR_release</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_BC_push</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_BC_release</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>3</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_FCP_BC_release</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_ALT_CANCEL</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_ALT</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>4</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>true</longClick>
        <longClickTimeoutMs>400</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_FCP_ALT</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_VS_push</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_VS_release</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>5</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>400</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_FCP_VS_release</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_IAS_MACH</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_SPEED</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>6</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>true</longClick>
        <longClickTimeoutMs>400</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_FCP_SPEED</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_FD1</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_FCP_AP_ENG</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>70ae3140-365b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>7</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>true</longClick>
        <longClickTimeoutMs>400</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_FCP_AP_ENG</Action>
      </GlobalHotkey>
    </buttons>
    <axis />
    <overrideSaitekEvents />
    <autoScripts />
    <virtualGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</virtualGaugesTemplateGuid>
    <desktopGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</desktopGaugesTemplateGuid>
    <webGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</webGaugesTemplateGuid>
  </template>
  <scripts>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_VS_up</label>
      <script>(L:ASCRJ_FCP_WHEEL, Number) 10 - dnor (&gt;L:ASCRJ_FCP_WHEEL, Number) (L:ASCRJ_FCP_WHEEL_CHANGE, Number) -- (&gt;L:ASCRJ_FCP_WHEEL_CHANGE, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_VS_dn</label>
      <script>(L:ASCRJ_FCP_WHEEL, Number) 10 + dnor (&gt;L:ASCRJ_FCP_WHEEL, Number) (L:ASCRJ_FCP_WHEEL_CHANGE, Number) ++ (&gt;L:ASCRJ_FCP_WHEEL_CHANGE, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_CRS1_dec</label>
      <script>(L:ASCRJ_FCP_CRS1_SEL, Number) 10 + dnor (&gt;L:ASCRJ_FCP_CRS1_SEL, Number) (L:ASCRJ_FCP_CRS1_CHANGE, Number) ++ (&gt;L:ASCRJ_FCP_CRS1_CHANGE, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_ALT_inc</label>
      <script>(L:ASCRJ_FCP_ALT_SEL, Number) 10 + dnor (&gt;L:ASCRJ_FCP_ALT_SEL, Number) (L:ASCRJ_FCP_ALT_CHANGE, Number) ++ (&gt;L:ASCRJ_FCP_ALT_CHANGE, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_SPEED_dec</label>
      <script>(L:ASCRJ_FCP_SPEED_SEL, Number) 10 - dnor (&gt;L:ASCRJ_FCP_SPEED_SEL, Number) (L:ASCRJ_FCP_SPEED_CHANGE, Number) -- (&gt;L:ASCRJ_FCP_SPEED_CHANGE, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_SPEED_inc</label>
      <script>(L:ASCRJ_FCP_SPEED_SEL, Number) 10 + dnor (&gt;L:ASCRJ_FCP_SPEED_SEL, Number) (L:ASCRJ_FCP_SPEED_CHANGE, Number) ++ (&gt;L:ASCRJ_FCP_SPEED_CHANGE, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_HDG_dec</label>
      <script>(L:ASCRJ_FCP_HDG_SEL, Number) 10 - dnor (&gt;L:ASCRJ_FCP_HDG_SEL, Number) (L:ASCRJ_FCP_HDG_CHANGE, Number) -- (&gt;L:ASCRJ_FCP_HDG_CHANGE, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_HDG_inc</label>
      <script>(L:ASCRJ_FCP_HDG_SEL, Number) 10 + dnor (&gt;L:ASCRJ_FCP_HDG_SEL, Number) (L:ASCRJ_FCP_HDG_CHANGE, Number) ++ (&gt;L:ASCRJ_FCP_HDG_CHANGE, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_ALT_dec</label>
      <script>(L:ASCRJ_FCP_ALT_SEL, Number) 10 - dnor (&gt;L:ASCRJ_FCP_ALT_SEL, Number) (L:ASCRJ_FCP_ALT_CHANGE, Number) -- (&gt;L:ASCRJ_FCP_ALT_CHANGE, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_CRS1_inc</label>
      <script>(L:ASCRJ_FCP_CRS1_SEL, Number) 10 + dnor (&gt;L:ASCRJ_FCP_CRS1_SEL, Number) (L:ASCRJ_FCP_CRS1_CHANGE, Number) ++ (&gt;L:ASCRJ_FCP_CRS1_CHANGE, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_HDG_SYNC</label>
      <script>1 (&gt;L:ASCRJ_FCP_HDG_SYNC_BTN_ANIM, Number) 1 (&gt;L:ASCRJ_FCP_HDG_SYNC, Number) (SLEEP:100) 0 (&gt;L:ASCRJ_FCP_HDG_SYNC_BTN_ANIM, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_HDG</label>
      <script>1 (&gt;L:ASCRJ_FCP_HDG_BTN_ANIM, Number) 1 (&gt;L:ASCRJ_FCP_HDG, Number) (SLEEP:100) 0 (&gt;L:ASCRJ_FCP_HDG_BTN_ANIM, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_12BANK</label>
      <script>1 (&gt;L:ASCRJ_FCP_12BANK_BTN_ANIM, Number) 1 (&gt;L:ASCRJ_FCP_12BANK, Number) (SLEEP:100) 0 (&gt;L:ASCRJ_FCP_12BANK_BTN_ANIM, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_NAV</label>
      <script>1 (&gt;L:ASCRJ_FCP_NAV_BTN_ANIM, Number) 1 (&gt;L:ASCRJ_FCP_NAV, Number) (SLEEP:100) 0 (&gt;L:ASCRJ_FCP_NAV_BTN_ANIM, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_APPR_push</label>
      <script>1 (&gt;L:ASCRJ_FCP_APPR_BTN_ANIM, Number) 1 (&gt;L:ASCRJ_FCP_APPR, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_APPR_release</label>
      <script>0 (&gt;L:ASCRJ_FCP_APPR_BTN_ANIM, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_BC_push</label>
      <script>1 (&gt;L:ASCRJ_FCP_BC_BTN_ANIM, Number) 1 (&gt;L:ASCRJ_FCP_BC, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_BC_release</label>
      <script>0 (&gt;L:ASCRJ_FCP_BC_BTN_ANIM, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_ALT_CANCEL</label>
      <script>1 (&gt;L:ASCRJ_FCP_ALT_CANCEL_BTN_ANIM, Number) 1 (&gt;L:ASCRJ_FCP_ALT_CANCEL, Number) (SLEEP:100) 0 (&gt;L:ASCRJ_FCP_ALT_CANCEL_BTN_ANIM, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_ALT</label>
      <script>1 (&gt;L:ASCRJ_FCP_ALT_BTN_ANIM, Number) 1 (&gt;L:ASCRJ_FCP_ALT, Number) (SLEEP:100) 0 (&gt;L:ASCRJ_FCP_ALT_BTN_ANIM, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_VS_push</label>
      <script>1 (&gt;L:ASCRJ_FCP_VS_BTN_ANIM, Number) 1 (&gt;L:ASCRJ_FCP_VS, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_VS_release</label>
      <script>0 (&gt;L:ASCRJ_FCP_VS_BTN_ANIM, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_IAS_MACH</label>
      <script>1 (&gt;L:ASCRJ_FCP_IAS_MACH_BTN_ANIM, Number) 1 (&gt;L:ASCRJ_FCP_IAS_MACH, Number) (SLEEP:100) 0 (&gt;L:ASCRJ_FCP_IAS_MACH_BTN_ANIM, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_SPEED</label>
      <script>1 (&gt;L:ASCRJ_FCP_SPEED_BTN_ANIM, Number) 1 (&gt;L:ASCRJ_FCP_SPEED, Number) (SLEEP:100) 0 (&gt;L:ASCRJ_FCP_SPEED_BTN_ANIM, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_FD1</label>
      <script>1 (&gt;L:ASCRJ_FCP_FD1_BTN_ANIM, Number) 1 (&gt;L:ASCRJ_FCP_FD1, Number) (SLEEP:100) 0 (&gt;L:ASCRJ_FCP_FD1_BTN_ANIM, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_FCP_AP_ENG</label>
      <script>1 (&gt;L:ASCRJ_FCP_AP_ENG_BTN_ANIM, Number) 1 (&gt;L:ASCRJ_FCP_AP_ENG, Number) (SLEEP:100) 0 (&gt;L:ASCRJ_FCP_AP_ENG_BTN_ANIM, Number)</script>
    </Script>
  </scripts>
</TemplateExport>