<?xml version="1.0" encoding="utf-8"?>
<TemplateExport xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <JoysticksUsed>
    <TemplateDevice>
      <id>1000</id>
      <name>Bravo Throttle Quadrant</name>
      <guid>70ae3140-365b-11eb-8001-444553540000</guid>
    </TemplateDevice>
  </JoysticksUsed>
  <template>
    <aircraftId>CRJ</aircraftId>
    <airFileId>CRJ</airFileId>
    <buttons>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_EXTL_STROBE_on</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_EXTL_STROBE_off</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>06466290-0cc8-11ea-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>29</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_EXTL_STROBE_off</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_EXTL_BEACON_on</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_EXTL_BEACON_off</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>06466290-0cc8-11ea-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>21</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_EXTL_BEACON_off</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_EXTL_NAV_on</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_EXTL_NAV_off</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>06466290-0cc8-11ea-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>27</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_EXTL_NAV_off</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_OVHD_TAXI_on</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_OVHD_TAXI_off</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>06466290-0cc8-11ea-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>25</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_OVHD_TAXI_off</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_OVHD_LDG_on</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_OVHD_LDG_off</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>06466290-0cc8-11ea-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>23</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_OVHD_LDG_off</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_YOKEC_TRIM_dn_set</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_YOKEC_TRIM_unset</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>0</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>06466290-0cc8-11ea-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>5</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <combinedKey>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <joystickGuid>06466290-0cc8-11ea-8001-444553540000</joystickGuid>
          <joystickName>Alpha Flight Controls</joystickName>
          <joystickButton>7</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>-1</midiDeviceId>
          <midiChannel>-1</midiChannel>
          <midiEvent>-1</midiEvent>
          <endless>false</endless>
          <midiEncoder>NONE</midiEncoder>
          <isSimKey>false</isSimKey>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>false</comboIsToggle>
          <longClick>false</longClick>
          <longClickTimeoutMs>0</longClickTimeoutMs>
          <fastTurn>false</fastTurn>
          <timeoutMs>0</timeoutMs>
          <assignedKeys />
          <vkModifiers />
          <vkKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_YOKEC_TRIM_unset</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_YOKEC_TRIM_up_set</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_YOKEC_TRIM_unset</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>0</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>06466290-0cc8-11ea-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>4</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <combinedKey>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <joystickGuid>06466290-0cc8-11ea-8001-444553540000</joystickGuid>
          <joystickName>Alpha Flight Controls</joystickName>
          <joystickButton>6</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>-1</midiDeviceId>
          <midiChannel>-1</midiChannel>
          <midiEvent>-1</midiEvent>
          <endless>false</endless>
          <midiEncoder>NONE</midiEncoder>
          <isSimKey>false</isSimKey>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>false</comboIsToggle>
          <longClick>false</longClick>
          <longClickTimeoutMs>0</longClickTimeoutMs>
          <fastTurn>false</fastTurn>
          <timeoutMs>0</timeoutMs>
          <assignedKeys />
          <vkModifiers />
          <vkKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_YOKEC_TRIM_unset</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_YOKEC_RTIC_rt_set</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_YOKEC_RTIC_rt_unset</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>06466290-0cc8-11ea-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>0</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_YOKEC_RTIC_rt_unset</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_TRIM_RUD_left_set</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_TRIM_RUD_unset</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>0</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>06466290-0cc8-11ea-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>10</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_TRIM_RUD_unset</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_TRIM_AIL_UPR_left_set</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_TRIM_AIL_UPR_unset</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>0</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>06466290-0cc8-11ea-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>8</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_TRIM_AIL_UPR_unset</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_TRIM_RUD_right_set</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_TRIM_RUD_unset</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>0</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>06466290-0cc8-11ea-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>11</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_TRIM_RUD_unset</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_TRIM_AIL_UPR_right_set</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>CRJ</Group>
          <Description>RPN</Description>
          <SimulatorEventName>CRJ-ASCRJ_TRIM_AIL_UPR_unset</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>0</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>06466290-0cc8-11ea-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>9</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>CRJ-ASCRJ_TRIM_AIL_UPR_unset</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>Autopilot</Group>
          <Description>Synchronizes flight director pitch with current aircraft pitch</Description>
          <SimulatorEventName>SYNC_FLIGHT_DIRECTOR_PITCH</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SINGLE</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>06466290-0cc8-11ea-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>1</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>SYNC_FLIGHT_DIRECTOR_PITCH</Action>
      </GlobalHotkey>
    </buttons>
    <axis />
    <overrideSaitekEvents />
    <autoScripts />
    <virtualGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</virtualGaugesTemplateGuid>
    <desktopGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</desktopGaugesTemplateGuid>
    <webGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</webGaugesTemplateGuid>
  </template>
  <scripts>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_EXTL_STROBE_on</label>
      <script>1 (&gt;L:ASCRJ_EXTL_STROBE, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_EXTL_STROBE_off</label>
      <script>0 (&gt;L:ASCRJ_EXTL_STROBE, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_EXTL_BEACON_on</label>
      <script>1 (&gt;L:ASCRJ_EXTL_BEACON, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_EXTL_BEACON_off</label>
      <script>0 (&gt;L:ASCRJ_EXTL_BEACON, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_EXTL_NAV_on</label>
      <script>1 (&gt;L:ASCRJ_EXTL_NAV, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_EXTL_NAV_off</label>
      <script>0 (&gt;L:ASCRJ_EXTL_NAV, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_OVHD_TAXI_on</label>
      <script>1 (&gt;L:ASCRJ_OVHD_TAXI, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_OVHD_TAXI_off</label>
      <script>0 (&gt;L:ASCRJ_OVHD_TAXI, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_OVHD_LDG_on</label>
      <script>1 (&gt;L:ASCRJ_OVHD_LDG_LEFT, Number) 1 (&gt;L:ASCRJ_OVHD_LDG_NOSE, Number) 1 (&gt;L:ASCRJ_OVHD_LDG_RIGHT, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_OVHD_LDG_off</label>
      <script>0 (&gt;L:ASCRJ_OVHD_LDG_LEFT, Number) 0 (&gt;L:ASCRJ_OVHD_LDG_NOSE, Number) 0 (&gt;L:ASCRJ_OVHD_LDG_RIGHT, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_YOKEC_TRIM_dn_set</label>
      <script>-1 (&gt;L:ASCRJ_YOKEC_TRIM, Number) 1 (&gt;K:ELEV_TRIM_DN)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_YOKEC_TRIM_unset</label>
      <script>1 (&gt;L:ASCRJ_YOKEC_TRIM, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_YOKEC_TRIM_up_set</label>
      <script>3 (&gt;L:ASCRJ_YOKEC_TRIM, Number) 1 (&gt;K:ELEV_TRIM_UP)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_YOKEC_RTIC_rt_set</label>
      <script>3 (&gt;L:ASCRJ_YOKEC_RTIC, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_YOKEC_RTIC_rt_unset</label>
      <script>1 (&gt;L:ASCRJ_YOKEC_RTIC, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_TRIM_RUD_left_set</label>
      <script>-1 (&gt;L:ASCRJ_TRIM_RUD, Number) 1 (&gt;K:RUDDER_TRIM_LEFT)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_TRIM_RUD_unset</label>
      <script>1 (&gt;L:ASCRJ_TRIM_RUD, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_TRIM_AIL_UPR_left_set</label>
      <script>-1 (&gt;L:ASCRJ_TRIM_AIL_UPR, Number) 1 (&gt;K:AILERON_TRIM_LEFT)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_TRIM_AIL_UPR_unset</label>
      <script>1 (&gt;L:ASCRJ_TRIM_AIL_UPR, Number)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_TRIM_RUD_right_set</label>
      <script>3 (&gt;L:ASCRJ_TRIM_RUD, Number) 1 (&gt;K:RUDDER_TRIM_RIGHT)</script>
    </Script>
    <Script>
      <group>CRJ</group>
      <label>ASCRJ_TRIM_AIL_UPR_right_set</label>
      <script>3 (&gt;L:ASCRJ_TRIM_AIL_UPR, Number) 1 (&gt;K:AILERON_TRIM_RIGHT)</script>
    </Script>
  </scripts>
</TemplateExport>